.card {
  transition: all 0.3s;
}
.card:hover {
  transform: translate(10px, -10px);
  transition: all 0.5s;
  box-shadow: 2px 2px 20px blue;
}
@media (max-width: 700px) {
  .card-head {
    justify-content: center;
  }
}
